<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/styles/header.css"> <!-- Link to your header CSS file -->
</head>

<body>
    <header>
        <div class="container2">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Tech Blog">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create Post</a></li>
                    <!-- Add additional navigation links as needed -->
                </ul>
            </nav>

        </div>
    </header>
</body>

</html>